:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%; 
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


/******************************** LOGIN PAGE ********************************/
/* login page container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

/* input fields */
input {
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background-color: #FAF9F6;
  color: #242424;
  width: 300px;
  box-sizing: border-box;
}
input:focus,
input:focus-visible {
  box-shadow: 0 0 0 1px #242424 inset;
}

.logo {
  padding: 1.5em;
  width: 20rem;
  /* will-change: filter;
  transition: filter 300ms; */
}

.errorMsg {
  color: red;
  font-size: 12px;
}

/* login btn */
.login {
  padding: 1rem;
  /* background-color: #ff1987;  */
  background-color: #242424;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  box-sizing: border-box; 
  font-size: 14px;
  font-weight: bold;
}

.login:hover {
  /* background-color: #eb187e; */
  background-color: rgb(60, 60, 60)
}

/******************************** END LOGIN PAGE ********************************/


/******************************** DASHBOARD PAGE ********************************/

/********** HEADER **********/
.header {
  /* background-color: #1d1d1d; */
  background-color: #f0f0f0;
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .5px solid #c8c7c7;
}


.searchBar-container{
  padding: 1rem;
  margin:0;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f0f0;
}

.searchBar{
  width:100%;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
  vertical-align: top;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.searchBar-Btn{
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  background-color: #242424;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0;
}
.searchBar-Btn:hover {
  background-color: rgb(60, 60, 60);
}


.signOut-btn{
  background-color: #242424;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  margin-right: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.signOut-btn:hover{
  background-color: rgb(60, 60, 60);
}




/** Main content -- sidebar + details section **/
.main-content {
  display: flex;
  height: calc(100vh - 6rem);
}






/********** SIDEBAR LIST **********/
.sidebar-container {
  width: 25%;
  background-color: #f0f0f0;
  /* height: 100%; */
}

.sidebar {
  padding-top: 0;
  margin-left: 1rem;
  margin-right: .25rem;
  /* border-top: .5px solid #c8c7c7; */
}


.venues-ul{
  overflow-y: auto;
  height: 80vh;
  padding-bottom:1rem;
  list-style: none;
  padding: 0;
}
.venues-ul::-webkit-scrollbar {
  width: 4px; 
}
.venues-ul::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; 
  border-radius: 6px; 
}
.venues-ul::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}

.place-li {
  margin-top: 0.5rem;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  width:100%;
  border-bottom: .5px solid #dcdada;
}
.place-li:hover,
.place-li.clicked {
  background-color: #f5f5f5; 
  transform: translateY(-2px);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.place-li.clicked {
  background-color: #eaffea; 
}

.place-name{
  font-weight: 600;
  margin: 0;
  padding: .5rem;
}

.place-address{
  margin: 0;
  padding: .5rem;
  padding-top: 0;
  color: gray;
  font-size: 12px;
}




/********** MAIN CONTENT **********/
.venueDetails-container {
  flex: 1;
  padding: 20px;
  background-color: #dae0e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/********** VENUE CARD **********/
.venueDetails-card{
  width:40rem;
  min-height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: .25rem;
}

.map-img-container{
  height: 200px;
  overflow: hidden;
  border-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.map-img-container img{
  width: 100%; 
  height: auto; 
}

.details_card-main-info{
  padding-left: 1rem;
  padding-right:1rem;
  padding-bottom:1rem;
}

.secondaryTxt{
  color: gray;
  font-size:12px;
  margin: 0;
}

.card-title{
  margin:.75rem;
  margin-left:0;
}

.chip {
  display: inline-block;
  padding: 0 1rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  height: 1.5rem;
  font-size: 12px;
  border-radius: 5rem;
  background-color: #fff;
  color:#242424;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border:none;
}

.selected {
  background-color: #cbf1cb; 
}


.btn-db {
  background-color: #242424;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-db:hover {
  background-color: rgb(60, 60, 60);
}

/* VENUE LIST LOADER ANIMATION */

.loading{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  box-sizing: border-box;
  animation: zeroRotation 1s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(85, 85, 85);
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  transform: translate(50%, 100%);
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
} 
    


/* CHECKMARK ANIMATION BTN */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke: #fff;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: block;
  stroke-width: 3;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #ececec;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #242424;
  }
}  
